body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.top-bar{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 1.2%;
    align-items: center;
}

.left-top{
   display: flex;
   align-content: center;
   margin-left: 1%;
   opacity: 0.75;

}

.right-top{
    display: flex;
    margin-right: 1%;
    align-items: center;
  }
  
#apps {
    position: relative;
    top:2.5px;
    right: 2px;
    color: rgba(0, 0, 0, 0.6);
}

#apps:hover{
    color: rgba(0, 0, 0, 0.808);
}

a {
    text-decoration: none;
}

.top-bar a{
    color: black;
    font-size: 13px;
    display: inline-block;
    margin:0px 8px ;

}


.right-top a:hover{
    color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;
}

.left-top a:hover {
    text-decoration: underline;
}


#sign-in{
   background-color:#4387fd;
   border: 1px solid #4387fd;
   border-radius: 5%;
   padding: 5px 12px;
   color: white;
   font-weight: 700;
   font-size: 13px;
}

#sign-in:hover{
    text-decoration: none;
    cursor: pointer;
}

#logo {
    display: block;
    margin: 12.5% auto 0;
}

.search-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#search {
    margin: 20px auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 300;
    width: 45%;
    padding: 10px;
    padding-left: 50px;
    border-radius: 50px ;
}   

#search:focus {
    outline: none;
}

#search:hover {
    box-shadow: 0px 1px 1px   rgba(0, 0, 0, 0.116);
}

#mic {
    position: relative;
    right: 26%;
    color:  rgba(0, 0, 0, 0.35);
}

#zoom {
    position: relative;
    left: 26%;
    color:  rgba(0, 0, 0, 0.35);
}

#button-container {
    display: flex;
    justify-content: center;
}
.buttons {
    margin-top: 15px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.041);;
    border: white;
    padding: 8px 25px;
    color:rgba(0, 0, 0, 0.6) ;
    
}

.buttons:hover{
    box-shadow: 0px 0px 2px 0px   rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    color: black;
    cursor: pointer;

}

#footer-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    float: bottom;
    align-content: center;
    background-color: #f2f2f2;
    height: 7%;
    flex-wrap: wrap;
}

.footer-left{
   display: flex;
   align-content: center;
   flex-grow: 1;
}

.footer-right{
    display: flex;
   justify-content: right;
    flex-basis: 50%;
    flex-shrink: 0;
  }
  
  .footer-left > a {
    padding-left: 4%;
  }

  .footer-right > a {
    padding-right: 4%;
  }


  .footer-right a , .footer-left a{
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    display: inline-block;
}


.footer-right a:hover , .footer-left a:hover{
    text-decoration: underline;
}

@media (max-width:720px) {
    .footer-left , .footer-right {
        flex-basis: 100%;
        flex-grow: 1;
        justify-content: space-evenly;
    }
}

